{{!-- EDIT EVENT PAGE --}}

{{> mainNav active='events' }}

<h1>Edit event</h1>

<form action="/events/edit-event/{{event._id}}" method="POST" enctype="multipart/form-data">

  <label for="title">Title:</label>
  <input type="text" name="title" id="title" value="{{event.title}}">

  <br>

  <label for="organiser">Organiser:</label>
  <input type="text" name="organiser" id="organiser" value="{{event.organiser}}">

  <br>

  <label for="description">What is your event about?</label>
  <input type="text" name="description" id="description" value="{{event.description}}" required>

  <br>

  <label for="startDate">Start date:</label>
  <input type="date" name="startDate" id="startDate" value="{{dates.startDate}}" required>

  <label for="startTime">Start time:</label>
  <input type="time" name="startTime" id="startTime" value="{{event.startTime}}" required>

  <br>

  <label for="endDate">End date:</label>
  <input type="date" name="endDate" id="endDate" value="{{dates.endDate}}" required>

  <label for="endTime">End time:</label>
  <input type="time" name="endTime" id="endTime" value="{{event.endTime}}" required>

  <br>

  <label for="link">Link to event page:</label>
  <input type="text" name="link" id="link" value="{{event.link}}">

  <br>

  <label for="imageUrl">Event Image:</label>
  <input type="file" name="imageUrl" accept="image/png, image/jpg">

  <br>

  <label for="category">Category:</label>
  <select id="category" name="category">
    {{#if (isSelected 'environment' event.category)}}
    <option value="environment" selected>Environment</option>
    <option value="women">Women's rights</option>
    {{else}}
    <option value="environment">Environment</option>
    <option value="women" selected>Women's rights</option>
    {{/if}}
  </select>

  <br>

  <button type="submit">Submit</button>

</form>