{{!-- SINGLE EVENT PAGE --}}

{{> mainNav active='events' }}

<div class="wrapper">

  <div class="header">
    <div class="header-left">
      <button class="burger"><i class="fas fa-bars"></i></button>
    </div>
    <div>
      <a class="button-purple" href="/events">Back to Events</a>
    </div>
  </div>

  <div class="one-event">

    {{#if userIsAuthor}}
    <div class="one-event-btns">
      <a href="/events/edit-event/{{event._id}}">Edit</a>
      <a href="/events/delete-event/{{event._id}}">Delete</a>
    </div>
    {{/if}}

    <img class="one-event-img" src="{{event.image}}" alt="Event Image">

    <h1>{{event.title}}</h1>

    <div class="one-event-description">
      <h3>Event Description</h3>
      <p>{{event.description}}</p>
    </div>

    <div class="one-event-attendees">

      <h3>Attendees</h3>

      {{#if attendees}}
      <div class="all-attendees">
        {{#if userIsAttending}}
        <img class="user-attending attendees-img" src="{{user.profilePic}}" alt="{{user.username}} profile picture">
        {{/if}}

        {{#each firstFiveAttendees}}
        <img class="attendees-img" src="{{profilePic}}" alt="{{username}} profile picture">
        {{/each}}

        <div class="attendees-nbr">
          {{nbrAttendees}} PEOPLE RESPONDED
        </div>
      </div>

      {{else}}
      <div class="all-attendees">
        <div class="attendees-nbr">
          BE THE FIRST TO ATTEND
        </div>
      </div>
      {{/if}}

      <div class="attending-btns">
        {{#if userIsAttending}}
        <a href="/events/not-attending/{{event._id}}"><i class="far fa-times-circle"></i> Not Going</a>
        {{else}}
        <a href="/events/attending/{{event._id}}"><i class="far fa-check-circle"></i> Going</a>
        {{/if}}
      </div>

    </div>

  </div>

</div>