{{!-- SINGLE EVENT PAGE --}}

{{> mainNav active='events' }}

<h1>One Event Page</h1>

<h2>Title: {{event.title}}</h2>

{{#if userIsAuthor}}
<a href="/events/edit-event/{{event._id}}">Edit event</a> |
<a href="/events/delete-event/{{event._id}}">Delete event</a>
{{/if}}

<br>

{{#if userIsAttending}}
<a href="/events/not-attending/{{event._id}}">I can't attend anymore</a>
{{else}}
<a href="/events/attending/{{event._id}}">I want to attend</a>
{{/if}}

<h3>Attendees</h3>

{{#if attendees}}

{{#each attendees}}
<img style="height:100px; border-radius:50%" src="{{profilePic}}" alt="{{username}} profile picture">
{{/each}}

{{else}}

<div>Be the first to sign-up!</div>

{{/if}}