<h1>Events</h1>

<h2>All Events</h2>

<a href="/events/create-event">Create event</a>

{{#if events}}

{{#each events}}
<div class="event-card">

  <h3>{{title}}</h3>
  <h4>Organiser: {{organiser}}</h4>

  <img src="{{image}}" alt="{{title}} event image">

  <p>{{description}}</p>

  {{!-- --> TODO: format correctly the dates below  --}}

  <p>From {{startDate}} to {{endDate}}</p>

  <a href="{{link}}" target="_blank">Link for more information</a>
  <p><i>Category: {{category}}</i></p>

  {{!-- --> TODO: the two links below should only show if current user is the one who has created this event in the first place  --}}

  <a href="/events/edit-event/{{_id}}">Edit event</a> |
  <a href="/events/delete-event/{{_id}}">Delete event</a>

</div>
{{/each}}

{{else}}

<div>
  Create a new event now!
</div>

{{/if}}