{{!-- MAIN EVENTS PAGE --}}

<div class="events-header">
  <h1>Events</h1>
  <a href="/events/create-event">Create event</a>
</div>

<div class="events-main">

  <div class="events-all">

    {{#if events}}
    {{#each events}}
    <div class="card-event">
      <div class="card-event_left">
        <img class="event-image" src="{{image}}" alt="Image of event {{title}}">
      </div>
      <div class="card-event_middle">
        <h2>{{title}}</h2>
        <h3>Organised by {{organiser}}</h3>
        <p>From {{startDate}} to {{endDate}}</p>
        <p>Description: {{description}}</p>
        <p><a href="/events/{{_id}}">More info</a></p>
      </div>
      <div class="card-event_right">
        <i>Category: {{category}}</i>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card-none">
      Create a new event now!
    </div>
    {{/if}}

  </div>

  <div class="events-user">

    <div class="events-attending">
      <h4>Placeholder: events the user is attending soon</h4>
    </div>

    <div class="events-attended">
      <h4>Placeholder: events the user has attended</h4>
    </div>

  </div>

</div>