{{!-- MAIN EVENTS PAGE --}}

{{> mainNav active='events' }}

<div class="wrapper">

  <div class="header">
    <div class="header-left">
      <button class="burger"><i class="fas fa-bars"></i></button>
      <h1>Online Events</h1>
    </div>
    <div>
      <a class="button-purple" href="/events/create-event">Create event</a>
    </div>
  </div>

  <div class="main">

    <div class="all-cards">
      <div class="dash-title">
        <h2>All Events</h2>
      </div>

      {{#if mainEvents}}
      {{#each mainEvents}}
      <div class="card">
        <div class="card-left">
          <img class="event-image" src="{{image}}" alt="Image of event {{title}}">
        </div>
        <div class="card-middle">
          <h3>{{title}}</h3>
          <h4>Organised by {{organiser}}</h4>
          <p>{{dateString}}</p>
          <p>Description: {{shortDescription}}</p>
          <p><a class="button-yellow" href="/events/{{_id}}">More info</a></p>
        </div>
        <div class="card-right">
          {{#ifEquals category "environment"}}
          <i class="fab fa-pagelines"></i>
          {{else}}
          <i class="fas fa-venus-double"></i>
          {{/ifEquals}}
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="card">
        Create a new event now!
      </div>
      {{/if}}

    </div>

    <div class="user-content">

      <div class="user-content_top">
        <div class="dash-title">
          <h2>Your Upcoming Events</h2>
        </div>

        <div class="user-content_cards">
          {{#if eventsAttending}}
          {{#each eventsAttending}}
          <div class="card">
            <div class="card-middle">
              <h3>{{title}}</h3>
              <h4>Organised by {{organiser}}</h4>
              <p>{{dateString}}</p>
              <p><a class="button-yellow" href="/events/{{_id}}">More info</a></p>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div class="card no-books-saved">
            You are not attending any event.
          </div>
          {{/if}}
        </div>

      </div>

      <div class="user-content_bottom">

        <div class="dash-title">
          <h2>Events Created</h2>
        </div>

        <div class="user-content_cards">
          {{#if eventsCreated}}
          {{#each eventsCreated}}
          <div class="card">
            <div class="card-middle">
              <h3>{{title}}</h3>
              <h4>Organised by {{organiser}}</h4>
              <p>{{dateString}}</p>
              <p><a class="button-yellow" href="/events/{{_id}}">More info</a></p>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div class="card no-books-saved">
            Create an event now!
          </div>
          {{/if}}
        </div>

      </div>

    </div>

  </div>
</div>