{{!-- SINGLE BOOK PAGE --}}

{{> mainNav active='books' }}

<div class="wrapper">

  <div class="header">
    <div class="header-left">
      <button class="burger"><i class="fas fa-bars"></i></button>
      <h1>Book: {{book.title}}</h1>
    </div>
    <div>
      <a class="button-purple" href="/books">Back to Books</a>
    </div>
  </div>

  <img src="{{ book.imageUrl }}" alt="{{ book.title }}">

  <br>
  <br>

  <h2> {{ book.title }}</h2>

  <br>

  <h4> Authors: </h4>
  {{#each book.authors}}
  <p> {{ this }} </p>
  {{/each}}

  <br>

  <h4> Publisher </h4>
  <p> {{ book.publisher }} </p>
  <p> Date: {{ book.publishedDate }} </p>

  <br>

  <h4> Number of pages </h4>
  <p> {{ book.pageCount }} </p>

  <br>

  <h4> Description </h4>
  <p> {{ book.description }} </p>

  <br>

  <p>
    {{#if isInSavedBooks}}
    <a class="books-btns_selected" href="/books/unlike-book/{{this.book._id}}">
      <i class="fas fa-heart"></i> Like
    </a>
    {{else}}
    <a class="books-btns_unselected" href="/books/like-book/{{this.book._id}}">
      <i class="far fa-heart"></i> Like
    </a>
    {{/if}}

    {{#if isInReadBooks}}
    <a class="books-btns_selected" href="/books/unread-book/{{this.book._id}}">
      <i class="fas fa-check-square"></i> Read
    </a>
    {{else}}
    <a class="books-btns_unselected" href="/books/read-book/{{this.book._id}}">
      <i class="far fa-check-square"></i> Read
    </a>
    {{/if}}
  </p>

</div>