<h1>BOOK PAGE </h1>

<br>

<img src="{{ book.imageUrl }}" alt="{{ book.title }}">

<br>
<br>

<h2> {{ book.title }}</h2>

<br>

<h4> Authors: </h4>
{{#each book.authors}}
  <p> {{ this }} </p>
{{/each}}

<br>

<h4> Publisher </h4>
<p> {{ book.publisher }} </p>
<p> Date: {{ book.publishedDate }} </p>

<br>

<h4> Number of pages </h4>
<p> {{ book.pageCount }} </p>

<br>

<h4> Description </h4>
<p> {{ book.description }} </p>

<br>

<button type="button"> Like </button>
<button type="button"> Already read! </button>