<h1> Books especially for you!</h1>

<div class = 'books-card'>

  {{#each books}}
    {{!-- image --}}
    <img src="{{this.imageUrl}}" alt="{{this.title}}">

    {{!-- title --}}
    <h2> {{this.title}}</h2>

    {{!-- authors --}}
    <h4> Authors:</h4>
    {{#each this.authors}}
      <p> {{this}} </p>
    {{/each}}

    <a href="/books/{{this._id}}"> Read more...</a>  
    <br>
    <br>

    {{!-- buttons --}}
    <button type="button"> Like </button>
    <button type="button"> Already read! </button>
    
    <br>
    <br>

  {{/each}}
</div>


{{!-- {{#each this}}
    <p> {{this.volumeInfo.title}} </p>
{{/each}} --}}
