{{!-- MAIN BOOKS PAGE --}}

{{> mainNav active='books' }}

<div class="wrapper">

  <div class="header">
    <div class="header-left">
      <button class="burger"><i class="fas fa-bars"></i></button>
      <h1>Recommanded Books</h1>
    </div>
  </div>

  <div class="main">

    <div class="all-cards">

      <div class="dash-title">
        <h2>Today's Recommandations</h2>
      </div>

      {{#each books}}
      <div class="card">
        <div class="card-left">
          <img class="book-image" src="{{this.book.imageUrl}}" alt="Image of book {{title}}">
        </div>

        <div class="card-middle">
          <h3>{{this.book.title}}</h3>
          <p>Authors:
            {{#each this.book.authors}}
            {{this}}
            {{/each}}
          </p>
          <p class="books-btns">
            <a class="button-yellow" href="/books/{{this.book._id}}">More info</a>

            {{#if this.isInSavedBooks}}
            <a class="books-btns_selected" href="/books/unlike-book/{{this.book._id}}">
              <i class="fas fa-heart"></i> Like
            </a>
            {{else}}
            <a class="books-btns_unselected" href="/books/like-book/{{this.book._id}}">
              <i class="far fa-heart"></i> Like
            </a>
            {{/if}}

            {{#if this.isInReadBooks}}
            <a class="books-btns_selected" href="/books/unread-book/{{this.book._id}}">
              <i class="fas fa-check-square"></i> Read
            </a>
            {{else}}
            <a class="books-btns_unselected" href="/books/read-book/{{this.book._id}}">
              <i class="far fa-check-square"></i> Read
            </a>
            {{/if}}
          </p>
        </div>

        <div class="card-right">
          {{#ifEquals category "environment"}}
          <i class="fab fa-pagelines"></i>
          {{else}}
          <i class="fas fa-venus-double"></i>
          {{/ifEquals}}
        </div>
      </div>
      {{/each}}

    </div>

    <div class="user-content">

      <div class="user-content_top">
        <div class="dash-title">
          <h2>Saved Books</h2>
        </div>

        <div class="user-content_cards">
          {{#if savedBooks}}
          {{#each savedBooks}}
          <div class="card">
            <div class="card-middle">
              <h3>{{title}}</h3>
              <p><a class="button-yellow" href="/books/{{_id}}">More info</a></p>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div class="card no-books-saved">
            You have not saved any book yet.
          </div>
          {{/if}}
        </div>

      </div>

      <div class="user-content_bottom">

        <div class="dash-title">
          <h2>Already Read Books</h2>
        </div>

        <div class="user-content_cards">
          {{#if readBooks}}
          {{#each readBooks}}
          <div class="card">
            <div class="card-middle">
              <h3>{{title}}</h3>
              <p><a class="button-yellow" href="/books/{{_id}}">More info</a></p>
            </div>
          </div>
          {{/each}}
          {{else}}
          <div class="card no-books-saved">
            Select books you've already read!
          </div>
          {{/if}}
        </div>

      </div>

    </div>

  </div>
</div>