{{> mainNav active='books' }}

<div class="wrapper">
  <h1> Books especially for you!</h1>
  <br>
  <div class='book-page'>
    <div class='new-books'>

      <h2> New books for you!</h2>
      <br>

      {{#each books}}
      <div class='card-lg'>
        <img src="{{this.book.imageUrl}}" alt="{{this.book.title}}">

        <div class='book-info'>
          <h3> {{this.book.title}}</h3>

          <h4> Authors: </h4>
          {{#each this.book.authors}}
          <p> {{this}} </p>
          {{/each}}

          <a href="/books/{{this.book._id}}"> Read more...</a>

          <br>

          {{#if this.isInSavedBooks}}
            <a href="/books/unlike-book/{{this.book._id}}"> Unlike </a>
          {{else}}
            <a href="/books/like-book/{{this.book._id}}"> Like </a>
          {{/if}}
          <br>

          {{#if this.isInReadBooks}}
            <a href="/books/unread-book/{{this.book._id}}"> Oops, mistake! </a>
          {{else}}
            <a href="/books/read-book/{{this.book._id}}"> Already read! </a>
          {{/if}}

        </div>
      </div>

      <br>
      <br>

      {{/each}}
    </div>

    <div class='right-panel'>

      <div class='saved-books'>
        <h2>Saved books</h2>
        {{#each savedBooks}}
        <li>
          <a href="/books/{{this._id}}"> {{this.title}} </a>
        </li>
        {{/each}}

        </ul>
      </div>

      <div class='read-books'>
        <h2>Already read!</h2>
        {{#each readBooks}}
        <li>
          <a href="/books/{{this._id}}"> {{this.title}} </a>
        </li>
        {{/each}}
      </div>

    </div>

  </div>
</div>

{{!-- {{#each this}}
    <p> {{this.volumeInfo.title}} </p>
{{/each}} --}}