{{!-- MAIN NEWS PAGE --}}

{{> mainNav active='dash' }}

<div class="wrapper">
  <h1>Dashboard</h1>

  <h2>Hello, {{user.username}}</h2>

  <div class="events-all">

    <h2>All events:</h2>
    {{#if events}}
    {{#each events}}
    <div class="card-event-lg">
      <div class="card-event_left">
        <img class="event-image" src="{{image}}" alt="Image of event {{title}}">
      </div>
      <div class="card-event_middle">
        <h3>{{title}}</h3>
        <h4>Organised by {{organiser}}</h4>
        <p>{{dateString}}</p>
        <p>Description: {{description}}</p>
        <p><a href="/events/{{_id}}">More info</a></p>
      </div>
      <div class="card-event_right">
        <i>Category: {{category}}</i>
      </div>
    </div>
    {{/each}}
    {{else}}
    <div class="card-none-lg">
      Create a new event now!
    </div>
    {{/if}}

  </div>

  <br>

  <a href="/auth/logout">Logout</a>
</div>