{{!-- MAIN NEWS PAGE --}}

{{> mainNav active='dash' }}

<div class="wrapper">

  <div class="header">
    <div class="header-left">
      <button class="burger"><i class="fas fa-bars"></i></button>
      <h1>Dashboard</h1>
    </div>
  </div>
  <div class="main">
    <div class='all-cards'>
      <h2>Discover Online Events</h2>
      {{#if events}}
      {{#each events}}
      <div class="card">
        <div class="card-left">
          <img class="event-image" src="{{image}}" alt="Image of event {{title}}">
        </div>
        <div class="card-middle">
          <h3>{{title}}</h3>
          <h4>Organised by {{organiser}}</h4>
          <p>{{dateString}}</p>
          <p>Description: {{shortDescription}}</p>
          <p><a class="button-yellow" href="/events/{{_id}}">More info</a></p>
        </div>
        <div class="card-right">
          <i>Category: {{category}}</i>
        </div>
      </div>
      {{/each}}
      {{else}}
      <div class="card-none-lg">
        Create a new event now!
      </div>
      {{/if}}
      <div class="books-all">

        <h2>Your Saved Books</h2>
        {{#if books}}
        {{#each books}}
        <div class="card">
          <div class="card-middle">
            <h3>{{title}}</h3>
          </div>
        </div>
        {{/each}}
        {{else}}
        {{/if}}

      </div>
    </div>
    <div class="user-content">
      <h2>Recent News</h2>
      {{#each news}}
      <div class="card">
        <div class="card-middle">
          <h4>{{pubDate}}</h4>
          <h3>{{title}}</h3>
          <p>{{contentSnippet}}</p>
          <a class="button-yellow" href="{{link}}" target="_blank">Read more</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>